    <!-- 출처 -->
<!--    <div class="source">
      <p>출처 : <a href="https://datalab.visitkorea.or.kr/site/portal/ex/bbs/View.do;ksessionid=ug0v7suZjiWz3YOwDapa6h9zhapDC9ge-lxHUiI2.wiws01?cbIdx=1127&bcIdx=301030&pageIndex=1&tgtTypeCd=&searchKey=&searchKey2=&tabFlag=Y&subFlag=Y&cateCont=spt04" id='a_color'>2022년 4월 기준 국민 해외관광객 주요 목적지별 통계</a><br>
      <a href="https://raw.githubusercontent.com/datasets/geo-countries/master/data/countries.geojson" id='a_color'>geojson 파일</a><br>
      <a href="https://www.kaggle.com/datasets/nikitagrec/world-capitals-gps" id='a_color'>국가 수도 위치</a></p>
    </div> -->

    <!-- footer -->
    <div class="footer">
        <ul>
          <li><a href="#">사이트 도움말</a></li>
          <li><a href="#">사이트 이용약관</a></li>
          <li><a href="#">개인정보취급방침</a></li>
          <li><a href="#">고객센터</a></li>
        </ul>
        <address>
          Copyright&copy;
          UsefulTravel
          All Rights Reserved.
        </address>
      </div>
    </div>
  </body>
  </html>